<h1>Welcome <%= @user.username %></h1>
<h3>Your Great Ideas</h3>
<% @ideas.each do |idea| %>
<div class="col-md-3 col-sm-6">
  <div class="thumbnail">
    <img src="http://placehold.it/350x150">
    <div class="caption">
      <h3><%= idea.title %></h3>
      <p><%= idea.description %></p>
      <p class="label label-default"><%= idea.category.name%></p><br><br>
      <div class="row">
        <div class="col-sm-6">
          <%= link_to "Edit", edit_idea_path(idea), class: "btn btn-primary btn-xs btn-block" %>
        </div>
        <div class="col-sm-6">
          <%= link_to "Delete", idea_path(idea), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs btn-block" %>
        </div>
      </div>
    </div>
  </div>

</div>

<% end %>
